/* Styling for coffee shop */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root{
    --primary-color:#810000;
    --secondary-color:#6a0101;
    --dark-color:#290101;
    --light-color:#fadcdc;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:'Lato', sans-serif;
    color: rgb(98, 98, 100);
    margin: auto;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

li{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

a{
    text-decoration:none;
    color:blue;
}

h1,h2{
    font-weight:300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
    border-radius: 5px;
}

.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 10px;
    margin:0 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
    border-right: 3px #fff solid;
}

/* Showcase */
.showcase{
    height: 420px;
    background-color:var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1{
    font-size:40px;
    font-weight: bold;
}

.showcase p{
    margin: 20px 0;
    padding-bottom: 5px;
}

.showcase .grid{
    grid-template-columns: 60% 40%;
    gap:40px;
    overflow: visible;
}

.showcase .grid2{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.showcase-text a{
    text-decoration:none;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    border-right: 3px solid #fff;
}

.showcase-text a:hover{
    border-bottom: 2px solid #fff;
}
.showcase-form{
    position:relative;
    top: 30px;
    height: fit-content;
    width: 100%;
    padding:20px;
    z-index:100%;
    justify-self:flex-end;
}

.showcase-form h2{
    text-align: center;
    font-weight: bold;
}

.showcase-form .form-control{
    margin:30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"]{
    border:0;
    border-bottom: 1px solid #810000;
    width: 75%;
    padding: 4px;
    font-size:1rem ;
}

.showcase-form input[type="text"]:focus,
.showcase-form input[type="email"]:focus {
    border:0;
    border-right:3px solid #810000;
    border-bottom:3px solid #810000;
}

.showcase-form input[type="date"],
.showcase-form input[type="time"]{
    border: 0;
    border-bottom: 1px solid #810000;
    border-right: 4px solid #810000;
    width: 80%;
    padding:3px;
}

select{
    border: 0;
    border-bottom: 1px solid #810000;
    border-right: 4px solid #810000;
    width: 75%;
    padding:3px;
    font-weight:bold;
    color: #810000;
}
select:focus{
    outline:none;
}

.showcase-form input[type="submit"]{
    border: 2px solid #810000;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    padding:8px;
}

.showcase-form input[type="submit"]:hover{
    cursor:pointer;
    transform:scale(1.05)
}

.showcase-form input:focus{
    outline:none;
}

.showcase::before{
    content:'';
    position:absolute;
    height: 100px;
    bottom: -75px;
    right:0;
    left: 0;
    background:#fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* Stats */
.stats{
    padding-top: 100px;
}

.stats-heading{
    margin: auto;
}

.stats .grid h3{
    font-size:35px;
}

.stats .grid p{
    font-size: 20px;
}

/* Cli */

.cli .grid{
    grid-template-columns:repeat(1, 1fr);
    width: 60%;
    column-gap: 0px;
    row-gap: 0px;
}

.cli-grid2{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    width: 90%;
    margin: auto;
}

.cli-grid2 h3{
    text-align: center;
}

/* .cli .grid >*:first-child{
    grid-column: 1 / span 2;
    grid-row:1 / span 2;
} */



/* Serve */
.serve{
    background-color: var(--primary-color);
    padding:100px;
    color: #fff;
}

.serve .grid {
    grid-template-columns: 40% 60%;
    gap:40px;
    overflow: visible;}

.serve a{
    text-decoration:none;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    border-right: 3px solid #fff;
}

.serve a:hover{
    border-bottom: 2px solid #fff;
}

/* Payment */
.payment{
    padding-top: 100px;
}
.payment .flex{
    flex-wrap: wrap;
}

.payment .card{
    text-align: center;
    width:fit-content;
    padding: 10px;
}

.payment h2{
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}

.payment img{
    width: 120px;
    height:150px
}


/* Connect */

.connect{
    margin: auto;
    padding: 100px;
    /* width: 60%; */
}

.connect .social{
    background-color: white;
    border-radius:10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 6px;
    /* margin: 5px; */
    max-width: fit-content;
}

.connect .social:hover{
    transform: scale(1.05);
}

.connect .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

.connect-grid{
    width:60%;
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items:center;
}
.connect h2{
    text-align:center;
    font-weight: bold;
    color: #810000;
}

.facebook{
    width: 40px;
    height: 40px;
    color:#325288;
}

.twitter{
    width: 40px;
    height: 40px;
    color:#161d6f;
}
.linkedin{
    width: 40px;
    height: 40px;
    color:#0278ae;
}

.github{
    width: 40px;
    height: 40px;
    color:black;
}

/* coffee */
.coffee{
    padding-top: 100px;
    justify-content:center;

}

.coffee .card{
    width: 100%;
    height:300px;
    padding: 10px;
    align-self: center;
}
.coffee img{
    width: 100%;
    height: 70%;
}

.coffee h3{
    padding-top: 10px;
    text-align: center;
}

.coffee p{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.coffee .flex{
    flex-wrap: wrap;
}

.coffee .grid4{
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:6px;
    justify-content:center;
    align-items:center;
}

.coffee-meet{
    justify-content:center;
}
.coffee-main{
    font-size: 1.8rem;
    font-weight: bold;
    line-height:1.7;
    letter-spacing: 1.2rem;
    color: #000000;

}

.coffee-content{
    font-size:1.25rem;
    line-height: 2;
}

/* Testmonies */
.testimonies{

}
.testimonies .card{
    overflow:hidden;
    align-self: center;
    height:fit-content;
    padding: 10px;
    
}

.testimonies p{
    font-size: 0.75rem;
    align-self: center;
    padding-left: 6px;
}
.testimonies .grid5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.testimonies .grid6{
    max-width:40% 60%;
    height: 200px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}

.testimonies img{
    height: 180px;
}

.img-card{
    height: fit-content;
}


/* Form */

label{
    font-weight:bold;
    font-size:1.2rem;
    padding: 10px;
}

/* Utilities */
.container{
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.card{
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
    padding:8px;
    margin: 5px;
    color: #810000;

}

.card2{
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0,0,0, 0.2);
    padding:8px;
    margin: 5px;
    color: #810000;
}

.bg-primary, .btn-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.bg-dark, .btn-dark{
    background-color: var(--dark-color);
    color: #fff;
}
.bg-light, .btn-light{
    background-color: var(--light-color);
    color: #000;
}

.text-center{
    text-align: center;
}

/* Text sizes */
.xl{
    font-size:4rem;
}
.lg{
    font-size:3rem;
    font-weight: bold;
}

.md{
    font-weight: bold;
    font-size:2rem;
}

.sm{
    font-size:1rem;
}

.lead{
    font-size:20px;

}

.flex{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    justify-content:center;
    align-items:center;
    height:100%;
}

.grid-3{
    grid-template-columns:repeat(3, 1fr);
}



/* Margin top-bottom*/
.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 2.5rem 0;
}
.my-5{
    margin: 3rem 0;
}
/*Margin all-around */
.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 2.5rem;
}
.m-5{
    margin: 3rem;
}

/* Padding top-bottom*/
.py-1{
    margin: 1rem 0;
}

.py-2{
    margin: 1.5rem 0;
}
.py-3{
    margin: 2rem 0;
}
.py-4{
    margin: 2.5rem 0;
}
.py-5{
    margin: 3rem 0;
}
/*Padding all-around */
.p-1{
    margin: 1rem;
}

.p-2{
    margin: 1.5rem;
}
.p-3{
    margin: 2rem;
}
.p-4{
    margin: 2.5rem;
}
.p-5{
    margin: 3rem;
}

/* Footer */
footer{
    margin:0;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size:1em;
    padding: 10px;
    text-align:center;
}

/* Tablets and under */

@media(max-width:780px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .serve .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height:auto;
    }

    .showcase-text{
        text-align: center;
        margin:20px;
    }
    .showcase-form{
        margin: auto;
        justify-self: center;
    }
    /* .cli .grid >*:first-child{
        grid-column: 1;
        grid-row:1;
    } */

    .coffee .grid4{
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonies .grid5{
        grid-template-columns: repeat(1, 1fr);
    }
    .connect-grid{
        grid-template-columns:repeat(2, 1fr);
        gap: 10px;
    }
}


/* Mobile */
@media (max-width:550px){
    .navbar{
        height:fit-content;
    }
    .navbar .flex{
        flex-direction: column;
}
    .navbar ul{
        padding: 10px;
        background-color:rgba(0,0,0, 0.1);
    }

    .coffee .grid4{
        grid-template-columns: repeat(1, 1fr);
    }

    .coffee .card{
        width: 100%;
        height:300px;
        padding: 10px;
        align-self: center;
    }
    .connect .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonies .grid5{
        grid-template-columns: repeat(1, 1fr);
    }
    .card2{
        width:100%;
        height: fit-content;
    }
}